@model UnicornStore.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_CategorySidebar", Model.TopLevelCategories)
        </div>
        <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.CurrentAds.Count(); i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                </ol>

                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < Model.CurrentAds.Count(); i++)
                    {
                        <div class="@(i == 0 ? "item active" : "item")">
                            <a href="@Url.Content(Model.CurrentAds[i].Url)">
                                <img src="@Url.Content(Model.CurrentAds[i].ImageUrl)" class="img-responsive">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <p>
                                            @Model.CurrentAds[i].TagLine
                                            <br />
                                            <span style="font-size: small;">@Model.CurrentAds[i].Details</span>
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
