@model UnicornStore.AspNet.ViewModels.Cart.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}

<p>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Checkout</h2>
            <p>One page, three steps, and your products are on their way!</p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Step 1: Review your items</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <span style="font-size: large">Order Total $@Model.Order.Total</span>
                        @foreach (var item in Model.Order.Lines)
            {
                            <hr />
                            @Html.Partial("_LineItem", item)
                            @Html.ActionLink("Remove from cart", "Remove", new { productId = @item.ProductId })
                        }
                    </div>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Step 2: Shipping details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingAddressee, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingAddressee, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingAddressee, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingAddressLineOne, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingAddressLineOne, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingAddressLineOne, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingAddressLineTwo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingAddressLineTwo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingAddressLineTwo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingCityOrTown, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingCityOrTown, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingCityOrTown, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingStateOrProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingStateOrProvince, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingStateOrProvince, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingZipOrPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingZipOrPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingZipOrPostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Order.ShippingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Order.ShippingCountry, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Order.ShippingCountry, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.Order.OrderId)
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Step 3: Payment</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning">
                            <h4>This isn't a real store!</h4>
                            <p>
                                Since this is a demo application to show Entity Framework 7 in action you can't actually buy any
                                of this stuff. For that reason we thought it would be a bit unfair to take your money.
                            </p>
                            <p>
                                Go ahead and place your order, it's free... just don't expect to actually get anything in the mail.
                            </p>
                        </div>

                    </div>
                </div>

                <input type="submit" value="Place My Order" class="btn panel-primary" />
            }
        </div>
    </div>
</div>
