@using UnicornStore.AspNet.ViewModels.Cart
@model IndexViewModel
@{
    ViewBag.Title = "Cart";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_CategorySidebar", Model.TopLevelCategories)
        </div>
        <div class="col-md-8">
            <p></p>

            @if (Model.Message != IndexMessage.None)
            {
                <div class="alert alert-success">
                    @Model.Message.GetMessage()
                </div>
            }

            @if (Model.CartItems.Any())
            {
                <p>
                    @Html.ActionLink("Proceed to Checkout", "Checkout", new { }, new { Class = "btn btn-default" })
                </p>
            }

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.CartItems.Count() products in your cart</h3>
                </div>
                <div class="panel-body">
                    @if (!Model.CartItems.Any())
                    {
                        <em>There are no items in your cart, perhaps you would like to @Html.ActionLink("browse the store", "Index", "Shop")</em>
                    }
                    else
                    {
                        <span style="font-size: large">Cart Total $@Model.CartItems.Sum(item => item.Quantity * item.PricePerUnit)</span>

                        @foreach (var item in Model.CartItems)
                        {
                            <hr />
                            @Html.Partial("_LineItem", item)
                            @Html.ActionLink("Remove from cart", "Remove", new { productId = @item.ProductId })
                        }
                    }
                </div>
            </div>

            @if (Model.CartItems.Any())
            {
                <p>
                    @Html.ActionLink("Proceed to Checkout", "Checkout", new { }, new { Class = "btn btn-default" })
                </p>
            }
        </div>
    </div>
</div>
