@using UnicornStore.AspNet.Models.UnicornStore
@model IEnumerable<Order>

@{
    ViewBag.Title = "My Orders";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>My Orders</h2>
            @foreach (var order in Model)
            {
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>@Html.ActionLink("Order #" + order.DisplayId, "Details", new { orderId = order.OrderId })</h4>
                        <b>Placed: @order.OrderPlaced.Value.ToShortDateString()</b>
                        <br />
                        <br />
                        @if (order.Lines == null)
                        {
                            <div class="alert alert-warning">
                                <h4>Missing Data</h4>
                                <p>Order lines were not included in the data passed to the view.</p>
                            </div>
                        }
                        else
                        {
                            <table class="table">
                                @foreach (var line in order.Lines)
                                {
                                    <tr>
                                        <td><img src="@Url.Content(line.Product.ImageUrl)" width="50" /></td>
                                        <td>@line.Product.DisplayName</td>
                                        <td>@line.Quantity @@ $@line.PricePerUnit</td>
                                        <td>$@(line.Quantity * line.PricePerUnit)</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>$@order.Total</b></td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
