@model UnicornStore.Models.UnicornStore.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.LabelFor(model => model.CurrentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>
        <dt>
            @Html.LabelFor(model => model.MSRP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.LabelFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt></dt>
        <dd>
            <img src="@Url.Content(Model.ImageUrl)" height="150" />
        </dd>
    </dl>
</div>
<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
</p>

