@model IEnumerable<UnicornStore.Models.UnicornStore.Product>

@{
    ViewBag.Title = "Manage Products";
}

<h2>Manage Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.MSRP)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}
</table>

